NODE_ENV
HOST
PORT
DATABASE_URL
REDIS_URL
# DEBUG="prisma*" # for prisma debugging options only for dev environment

CLIENT_URL

CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET

RESEND_API_KEY
EMAIL_FROM

ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY
REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY
ACTIVATION_TOKEN_SECRET
ACTIVATION_TOKEN_EXPIRY
